.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--modal-outer-background);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 999;
    color: var(--modal-primary-text-color);
}

.modal__opened {
    visibility: visible;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 28px;
    cursor: pointer;
    border: 1px solid var(--transparent);
    background-color: transparent;
    border-radius: 4px;
    padding: 0;
    display: flex;
    outline: none;
}

.modal__close:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

.modal__close:hover {
    background-color: var(--modal-close-hover);
}

.modal__close-btn {
    width: 30px;
    height: auto;
}

.modal__content {
    background-color: var(--modal-inner-background);
    box-shadow: 0 0 10px var(--modal-primary-text-color);
    position: relative;
    padding: 28px 28px 36px;
    box-sizing: border-box;
    max-width: 496px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    font-weight: bold;
    font-size: 16px;
}

.modal__title {
    margin: 0 0 24px;
    font-family: 'Exo 2';
    font-size: 1.3rem;
    color: var(--primary-color);
}

.modal__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal__submit {
    display: inline-block;
    padding: .5em 1.5em;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: var(--modal-submit-background);
    color: var(--primary-color);
    font-weight: lighter;
    font-size: 1.2rem;
}

.modal__submit:disabled {
    color: var(--disabled-button);
    cursor: default;
}

.modal__button-container {
    display: flex;
    gap: 12px;
    margin-top: 32px;
}

.secondary__option {
    border: 1px solid var(--white);
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: var(--modal-primary-text-color);
    align-self: center;
    padding: .5em 1.5em;
    outline: none;
}

.secondary__option:focus {
    border: 1px solid var(--primary-color);
    box-shadow: none;
}

@media screen and (width < 600px) {
    .modal__content {
        width: 90%;
        padding: 15px;
        margin-bottom: 0;
    }

    .modal__close {
        top: 10px;
        right: 10px;
    }

    .modal__button-container {
        margin-top: 15px;
    }
}