.page {
    background: linear-gradient(to bottom, var(--modal-inner-background) 0%, var(--black) 80%);
    color: var(--white);
}

.page__content {
    display: grid;
    grid-template-rows: minmax(72px, 80px) auto 200px;
    max-width: 1360px;
    margin: 0 auto;
    min-height: 100vh;
    font-family: "Exo 2", 'Arial Narrow', Arial;
}

@media screen and (width < 620px) {
    .page__content {
        grid-template-rows: minmax(72px, 80px) auto 230px;
    }
}

@media screen and (width < 500px) {
    .page__content {
        grid-template-rows: minmax(72px, 180px) auto 250px;
    }
}