.page {
    background-color: beige;
}

.page__content {
    display: grid;
    grid-template-rows: minmax(72px, 80px) auto minmax(60px, 70px);
    max-width: 1360px;
    margin: 0 auto;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    gap: 20px;
}