.main {
    display: grid;
    border-radius: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        'hero hero'
        'title title'
        'naruto-intro history'
        'naruto-intro curiosities';
    gap: 15px;
    padding: 15px 15px 30px;
    color: #cecece;

}

.main__hero {
    background: url(../../images/landscape1.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
    grid-area: hero;
    border-radius: 10px;
}

.main__title {
    grid-area: title;
    margin: 10px 0;
    line-height: 0.9;
    color: #fff;
    text-shadow: 0 0 10px #ffbb00;
    position: relative;
    font-weight: 500;
}

.main__title::after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: #ffbb00;
    pointer-events: none;
}

.naruto,
.history,
.curiosities,
.stats {
    border: 1px solid #22a1cb;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 300;
}

.naruto__title,
.history__title,
.curiosities__title,
.stats__title {
    margin: 0 0 10px;
    color: #ffbb00;
}

.naruto {
    /* max-width: 400px; */
    grid-area: naruto-intro;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.naruto__intro {
    margin: 0;
    text-align: center;
}

.naruto__title,
.stats__title,
.main__title {
    text-align: center;
}

.naruto__title,
.history__title,
.stats__title {
    font-size: 1.5rem;
}

.naruto__content {
    flex: 1;
    display: grid;
    gap: 10px;
    align-items: center;
    height: 80%;
}

.naruto__content::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #22a1cb;
}

.naruto__content::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #22a1cb;
}

.naruto__img-container {
    display: flex;
    justify-content: center;
}

.naruto__image {
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    height: auto;
    background-color: transparent;
}

.history {
    grid-area: history;
}

.history__paragraph {
    margin-top: 0;
}

.curiosities {
    grid-area: curiosities;
}

.curiosities__list {
    padding-left: 15px;
    display: grid;
    gap: 10px;
    margin: 0;
}

.stats,
.main__title {
    grid-column: 1 / 3;
}

.stats__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 80%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.stats__item {
    padding: 10px;
    border: 1px solid #22a1cb;
    border-radius: 10px;
    display: grid;
    justify-content: center;
}

.stats__name,
.stats__number {
    text-align: center;
}

.stats__name {
    font-size: 1.2rem;
    font-weight: 400;
}

.stats__number {
    font-size: 2rem;
    font-weight: 100;
    color: #ffbb00;
}