.modal__form.login__form input[type=email],
.modal__form.login__form input[type=password] {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--white);
    border-radius: 10px;
    background-color: var(--modal-primary-text-color);
}

.modal__form.login__form input[type=email] {
    margin: 8px 0 24px;
}

.modal__form.login__form input[type=password] {
    margin-top: 8px;
}

.secondary__option {
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: var(--modal-primary-text-color);
    align-self: center;
}

@media screen and (width < 600px) {
    .modal__form.login__form input[type=email] {
        margin: 8px 0 15px;
    }
}